*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

section{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items:center;
}

nav ul li {
  display: inline-block;
  width: 80px;
}